<div fxFlex class="h-screen" fxLayoutAlign="space-between" fxLayout="column">
  <div>
    <div fxLayout="row" fxLayoutAlign="center center" class="">
      <div class="py-2">
        <div class="text-2xl font-bold text-[#FF7F09]">オーダー</div>
      </div>
    </div>
    <router-outlet>
    </router-outlet>
 
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="center center" class="bg-[#FF7F09] p-1 mt-3">
      <div fxLayoutAlign="center center" fxLayout="column" >
        <mat-icon class="text-white">home</mat-icon>
        <div class="text-white">
            ホーム
        </div>
      </div>
      <div class="ml-5" fxLayoutAlign="center center" fxLayout="column">
        <mat-icon class="text-white"> restaurant</mat-icon>
        <div class="text-white">
            注文リスト
        </div>
      </div>
    </div>
  </div>
</div>
